In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv(r'anime.csv')

In [4]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [5]:
#make a new column for episdoe count

In [6]:
df.loc[1]['Title']

'Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473,707 members'

In [7]:
def extract_episodes(txt):
    check = False
    data = ""
    for i in txt:
        if i == ')':  # We stop if we encounter a closing parenthesis
            break
        if check:  # If we're inside parentheses, add the character to 'data'
            data += i
        if i == '(':  # We start recording data after the first '('
            check = True
    return data

In [8]:
df['Episodes']=df['Title'].apply(extract_episodes)

In [9]:
df['Episodes'] = df['Episodes'].str.replace(" eps", "")

In [10]:
df['Episodes'] =df['Episodes'].astype(int)

In [11]:
df['Episodes'].dtype

dtype('int32')

In [12]:
df['Title'][1]

'Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473,707 members'

In [13]:
def extract_time(txt):
    check = False
    data = ""
    for i in range(len(txt)):
        if txt[i] == ')':  # When we encounter a ')', start extracting.
            for j in range(i + 1, min(i + 20, len(txt))):  # Limit the range to 20 characters and avoid IndexError.
                data += txt[j]
            break  # Once we’ve extracted, exit the loop.
    return data

In [14]:
df['Total Time']=df['Title'].apply(extract_time)

In [29]:
df.head()

,Rank,Title,Score,Episodes,Total Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [30]:
import re
from datetime import datetime

# Sample DataFrame
data = {'Total Time': ['Apr 2009 - Jul 2010', 'Jan 2015 - Dec 2016', 'Mar 2018 - May 2020']}


# Function to extract total months
def extract_months(txt):
    start, end = re.findall(r'(\w{3}) (\d{4})', txt)  # Extract start and end months with years
    start_month = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
    start_date = datetime(int(start[1]), start_month[start[0]], 1)
    end_date = datetime(int(end[1]), start_month[end[0]], 1)
    return (end_date.year - start_date.year) * 12 + end_date.month - start_date.month

In [31]:
df['Total Months'] = df['Total Time'].apply(extract_months)

In [35]:
df.head()

,Rank,Title,Score,Episodes,Total Time,Total Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,3

In [37]:
df[df['Score']==df['Score'].max()]  #which anime has the highest score

,Rank,Title,Score,Episodes,Total Time,Total Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,15

In [39]:
df['Title'].head()  # Give me top 5 highest scoring anime

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

In [41]:
#which anime has the highest episode count

In [43]:
df[df['Episodes']==df['Episodes'].max()]

,Rank,Title,Score,Episodes,Total Time,Total Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,47

In [45]:
df['Episodes'].head()# animes with top 5 episode count

0    64
1    24
2    13
3    51
4    10
Name: Episodes, dtype: int32

In [47]:
df[df['Total Months']==df['Total Months'].max()]

,Rank,Title,Score,Episodes,Total Time,Total Months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,110